<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.nahonsanMapper">
    

    	<select id="login" resultType = "com.smhrd.mapper.testVO" >
    	    select * from test_tbl where name=#{name} and birth=#{birth} 
    	                                 <!-- 앞 db에 있는 값 뒤 사용자가 입력한 값-->
    	    
    	</select>
    
</mapper>
